@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 215, 215, 215;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 40, 40, 40;
    }
}


body {
    background: rgb(var(--background-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
